@media (max-width: 890px) {

    /* Retirar */

    .btn-redes {
        display: none;
    }



    /* Ajustar */


    .style-btn {
        width: 54px;
        height: 20.25px;
    }
    
    .nav-bar-link ul li a {
        font-size: 13px;
    }

    .nav-bar-link ul {
        gap: 20px;
    }

    .fundo-mp4 {
        background: url(/src/assets/images/codding.gif) -126.105px 0px / 332.918% 100.093% no-repeat;
        z-index: -1;
        width: 100%;
        height: 1100px;
        position: absolute;
    }

    .nav-bar {
        justify-content: space-around
    }


    .main-home {
        width: 100%;
        padding-top: 10px;
        gap: 5px;
        height: 900px;
        flex-direction: column;
        justify-content: start;
    }

    .articles-home h1 {
        color: #FFF;
        text-align: center;
        font-family: "Protest Strike";
        font-size: 90px;
        font-weight: 400;
        letter-spacing: -4.8px;

    }

    .articles-home h2 {
        color: #A259FF;
        text-align: center;
        font-family: "Protest Strike";
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -2px;
        margin-top: 5px;

    }

    .articles-home h3 {
        color: #FFF;
        text-align: center;
        font-family: "Protest Strike";
        font-size: 48px;
        font-weight: 400;
        letter-spacing: -2.4px;
    }

    .artices-home-span {
        color: #CD9D00;
        font-family: "Protest Strike";
        font-size: 48px;
        font-weight: 400;
        letter-spacing: -2.4px;
    }

    .btn-contato {
        width: 217px;
        height: 47px;
        border-radius: 50px;
        background: #CD9D00;
        margin: 20px 0px 30px 0px;

    }

    .btn-contato a {
        color: #FFF;
        text-align: center;
        font-family: "Protest Strike";
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .desça {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -1px;
        margin: 20px 0px 30px 0px;
    }

    .responsive-img {
        display: none;
    }

    .img-responsive {
        align-self: center;
        display: contents;
        
    }

    .imagem-gif-vitor {
        width: 80%;
    }

    /* Sobre mim */


    .header-sobremim {
        display: flex;
        align-items: center;
        padding-top: 50px;
        flex-direction: column;
    }

    .title-sobremim {
        display: flex;
        gap: 18px;
        margin-bottom: 20px;
    }

    .title-sobremim p {
        font-size: 32px;


    }

    .descri-sobremim {
        width: 328px;
        height: 306px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;

    }

    /* Sobre mim all */


    .section-sobremim {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding-top: 20px;
    }

    .sobre-mim-all h1 {
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        padding-bottom: 20px;


    }


    .sobre-mim-all h4 {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 900;
    }

    .sobre-mim-all p span {
        color: #CD9D00;
        text-align: left;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
    }

    .sobre-mim-all p {
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .btn-download {
        width: 100%;
        max-width: 292px;
        height: 38px;
        border-radius: 30px;
        background: #CD9D00;
        margin-top: 38px;
        cursor: pointer;
    }


    /* Languagem */

    .languagem {
        width: 390px;
        height: 107px;
        background: #242424;
        margin-top: 59px;
        gap: 19px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .languagem figure img {
        width: 26px;
        height: 27px;
    }

    /* Competencias */

    .comp-container {
        width: 100%;
        height: 1500px;
        flex-direction: column;
        gap: 20px;
        padding-top: 112px;
    }

    .card-comp div {
        width: 100%;
        height: 170px;


    }

    .card-comp div h2 {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 900;

    }

    .card-comp div p {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 300;
    }

    .card2-comp {
        margin: 49px 0px 49px 0px;
    }

    .article-comp h1 {
        font-size: 36px;
        font-weight: 400;
    }

    .responsive img {
        width: 290px;
        height: 240px;
    }


    /* Contato */
    .projetos-container {
        height: 2500px;
    }

    .projeto-h1 {
        padding-top: 10%;
    }

    .caixa-interior {
        width: 100%;
    }

    .conteudo-caixa-1 figure img {
        max-width: 350px;
    }

    .conteudo-caixa-2 figure img {
        max-width: 350px;
    }

    .contato-title h1 {
        font-size: 40px;
    }

    .mago {
        width: 50%;
    }


}